<!DOCTYPE html>
<html>

<body>
    <a href="/sysop_tasks/{{session_id}}">Back to Sysop Tasks</a>

    <h1>Upload a List of Instructors and Courses</h1>

    <p>
        The file should be a CSV with a header and 4 columns:
        term_month_year, course_num, course_name, instructor_assigned_name
    </p>

    <p>The instructor must be registered to be added</p>

    <form action="{{ url_for('import_prof_course') }}{{session_id}}" method="POST" enctype="multipart/form-data">
        <label for="file">Select a file:</label>
        <input type="file" id="file" name="file" />
        <br /><br />
        <input type="submit"/>
    </form>

    <div style="text-align: center; color: red;">{{msg}}</div>

</body>

</html>