<a href="/dashboard/{{session_id}}">Return to Dashboard</a><br><br>

<h1> Rate a TA </h1>

<h2> {{course_num}} {{course_term}}</h2>


<form action="/rate_ta/{{session_id}}/{{course_num}}/{{course_term}}" method="POST">
  <input type="hidden" name="choice" value="rate_ta">

  <label for="ta">TA:</label>
  <select name="ta" id="ta">
    {% for name in ta_names %}
    <option value="{{name}}">{{name}}</option>
    {% endfor %}
  </select>
  <br><br>


    Rating<br>
  <input type="radio" id="0star" name="rating" value="0">
  <label for="0star">0</label>
  <input type="radio" id="1star" name="rating" value="1">
  <label for="1star">1</label>
  <input type="radio" id="2star" name="rating" value="2">
  <label for="2star">2</label>
  <input type="radio" id="3star" name="rating" value="3">
  <label for="3star">3</label>
  <input type="radio" id="4star" name="rating" value="4">
  <label for="4star">4</label>
  <input type="radio" id="5star" name="rating" value="5">
  <label for="5star">5</label>
  <br><br>

  <label for="comment">Comments on TA:</label><br>
  <textarea id="comment" name="comment" rows="4" cols="50"></textarea>
  <br><br>

  <input type="submit" value="Submit">
</form>
<div style="text-align: center; color: red;">{{msg}}</div>
