<!--- Work in progress don't style it yet --->

<a href="/dashboard/{{session_id}}">Return to Dashboard</a><br><br>

<h1>Work in Progress</h1>
<h1> Rate a TA </h1>

<h2> Choose Course and Term</h2>

<!--- Testing --->
<form name="form1" id="form1" action="/action_page.php">
Course: <select name="course" id="course">
    <option value="" selected="selected">Select course</option>
  </select>
  <br><br>
Term: <select name="term" id="term">
    <option value="" selected="selected">Please select course first</option>
  </select>
  <br><br>
TA: <select name="ta" id="ta">
    <option value="" selected="selected">Please select term first</option>
  </select>
  <br><br>


    Rating<br>
  <input type="radio" id="0star" name="rating" value="0">
  <label for="0star">0</label>
  <input type="radio" id="1star" name="rating" value="1">
  <label for="1star">1</label>
  <input type="radio" id="2star" name="rating" value="2">
  <label for="2star">2</label>
  <input type="radio" id="3star" name="rating" value="3">
  <label for="3star">3</label>
  <input type="radio" id="4star" name="rating" value="4">
  <label for="4star">4</label>
  <input type="radio" id="5star" name="rating" value="5">
  <label for="5star">5</label>
  <br><br>

  <label for="comment">Comments on TA:</label><br>
  <textarea id="comment" name="comment" rows="4" cols="50"></textarea>
  <br><br>

  <input type="submit" value="Submit">
</form>

<!--- Testing --->

<!---
<form class="rating" action="#" method="POST">
  <label for="course">Course</label><br>
  <input type="text" placeholder="Enter Course" name="course" id="course" required>
  <br><br>
  <label for="term">Term</label><br>
  <input type="text" placeholder="Enter Term" name="term" id="term" required>
  <br><br>

  <label for="ta">  Choose a TA: </label><br>
  <select name="ta" id="ta">
    <option value="placeholder">placeholder</option>
  </select>
  <br><br>

  Rating<br>
  <input type="radio" id="0star" name="rating" value="0">
  <label for="0star">0</label>
  <input type="radio" id="1star" name="rating" value="1">
  <label for="1star">1</label>
  <input type="radio" id="2star" name="rating" value="2">
  <label for="2star">2</label>
  <input type="radio" id="3star" name="rating" value="3">
  <label for="3star">3</label>
  <input type="radio" id="4star" name="rating" value="4">
  <label for="4star">4</label>
  <input type="radio" id="5star" name="rating" value="5">
  <label for="5star">5</label>
  <br><br>

  <label for="comment">Comments on TA:</label><br>
  <textarea id="comment" name="comment" rows="4" cols="50"></textarea>
  <br><br>

  <input type="submit" value="Submit">
--->





</form>