<form action="#" method="POST">
    <div class="container">
      <h1>Register</h1>

      <label for="usrname"><b>Username</b></label><br>
      <input type="text" placeholder="Enter Username" name="usrname" id="usrname" required>
      <br><br>

      <label for="psw"><b>Password</b></label><br>
      <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
      <br><br>

      <label for="email"><b>Email</b></label><br>
      <input type="email" placeholder="Enter email" name="email" id="email" required>
      <br><br>

      <label for="uid"><b>Student ID</b></label><br>
      <input type="number" placeholder="Enter User id" name="uid" id="uid" required>
      <br><br>

      <label for="fname"><b>First Name</b></label><br>
      <input type="text" placeholder="Enter First Name" name="fname" id="fname" required>
      <br><br>

      <label for="lname"><b>Last Name</b></label><br>
      <input type="text" placeholder="Enter Last Name" name="lname" id="lname" required>
      <br><br>

      <b>I'm a</b><br>
      <input type="checkbox" id="student" name="student" value="Student">
      <label for="student"> Student </label><br>

      <input type="checkbox" id="ta" name="ta" value="TA">
      <label for="ta"> TA </label><br>

      <input type="checkbox" id="prof" name="prof" value="Prof">
      <label for="prof"> Prof </label><br>

      <input type="checkbox" id="admin" name="admin" value="Admin">
      <label for="admin"> Admin</label><br>

      <input type="checkbox" id="sysop" name="sysop" value="Sysop">
      <label for="sysop"> Sysop</label><br><br>

      <button type="submit" class="registerbtn">Register</button>
    </div>

</form>