<a href="/ta_admin/{{session_id}}">Back to TA Admin</a><br><br>
<h1>Remove TA</h1>

<form action="/remove_ta/{{session_id}}" method="POST">
  <label for="fname">First name:</label>
  <input type="text" id="fname" name="fname" required><br><br>
  <label for="lname">Last name:</label>
  <input type="text" id="lname" name="lname" required><br><br>
  <label for="sid">Student ID:</label>
  <input type="number" id="sid" name="sid" required><br><br>
  <label for="course_num">Course Number:</label>
  <input type="text" id="course_num" name="course_num" placeholder="E.g. Comp 307" required><br><br>
  <label for="course_term">Course Term:</label>
  <input type="text" id="course_term" name="course_term" placeholder="E.g. Fall 2022" required><br><br>

  <input type="submit" value="Remove">
</form>
<div>{{msg}}</div>