<a href="/dashboard/{{session_id}}">Return to Dashboard</a><br><br>
<h1>TA Administration</h1>

<a href="{{ url_for('ta_info_history') }}{{session_id}}">TA Info History</a>
<a href="{{ url_for('course_ta_history') }}{{session_id}}">Course TA History</a>
<a href="{{ url_for('add_ta') }}{{session_id}}">Add TA</a>
<a href="{{ url_for('remove_ta') }}{{session_id}}">Remove TA</a><br><br>

<hr>

<h2>File Upload</h2>
<p>Upload Course Quota before TA Cohort</p>
<p>Choose file type:</p>
<form action="{{ url_for('ta_admin') }}{{session_id}}" method="POST" enctype="multipart/form-data">
    <input type="radio" id="course_quota" name="file_type" value="course_quota">
    <label for="course_quota">Course Quota</label><br>
    <input type="radio" id="ta_cohort" name="file_type" value="ta_cohort">
    <label for="ta_cohort">TA Cohort</label><br> <br>
    <label for="file">Select a file:</label><br>
    <input type="file" id="file" name="file" />
    <br /><br />
    <input type="submit"/>
</form>
<div>{{msg}}</div>


